<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy/>
    <context:annotation-config/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg index="0" ref="restTemplate"/>
        <constructor-arg index="1"
                         value="https://hook.dooray.com/services/3204376758577275363/3707922642738216364/WdJUIozGSgGdnxhQnS1lSA"/>
    </bean>

    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.messagesender.DoorayMessageSender">
    </bean>

    <bean id="messageService" class="com.nhnacademy.edu.springframework.service.MessageService">
    </bean>

    <bean id="user" class="com.nhnacademy.edu.springframework.User">
        <constructor-arg value="test"/>
    </bean>

    <bean id="timeAspect" class="com.nhnacademy.edu.springframework.aop.TimeAspect">
    </bean>
</beans>